<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maroun Baydoun">
    <title><%= htmlWebpackPlugin.options.title %> | Maroun Baydoun</title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>">
    <link rel="canonical" href="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>" />
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description%>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>" />
    <meta property="og:image" content="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>image.png" />
    <meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.heading1%>. <%= htmlWebpackPlugin.options.heading2%>" />
    <meta property="og:locale" content="en">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@maroun_baydoun">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description%>">
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
</head>

<body>
    <header class="header">
        <h1><%= htmlWebpackPlugin.options.heading1 %></h1>
        <h2><%= htmlWebpackPlugin.options.heading2 %></h2>
        <nav>
            <%if (htmlWebpackPlugin.options.githubLink) { %>
                <a href="<%= htmlWebpackPlugin.options.githubLink %>" rel="external"
                    title="View the source code on Github">Github</a>
            <% } %>
            <%if (htmlWebpackPlugin.options.npmLink) { %>
                <a href="<%= htmlWebpackPlugin.options.npmLink %>" rel="external"
                    title="Get the package on npm">NPM</a>
            <% } %>
        </nav>
    </header>
    <main class="content">
        <p>Use reaflex to create flex rows and columns in your React components.</p>
        <hr class="hr--large"/>
        <h3>1. Install</h3>
        <pre class="syntax-highlight-container"><code class="language-shell">npm i reaflex</code></pre>
        Or
        <pre class="syntax-highlight-container"><code class="language-shell">yarn add reaflex</code></pre>
        <hr class="hr"/>
        <p>The following packages are needed as peer dependencies:</p>
        <ul class="ul ul--square ul--margin-left ul--margin-top">
            <li class="monospace">react >= 16.8.0</li>
            <li class="monospace">react-dom >= 16.8.0</li>
            <li class="monospace">styled-components >= 4.4.1</li>
            <li class="monospace">prop-types >= 15.7.0</li>
        </ul>
    
        <hr class="hr--large"/>
        <h3>2. Use</h3>
        <pre class="syntax-highlight-container"><code class="language-jsx">import { Flex, Item } from "reaflex";

const MyComponent = () => {
  return (
    &lt;Flex direction="column" alignItems="center" justifyContent="center"&gt;
        &lt;Item alignSelf="flex-end"&gt;Hello&lt;/Item&gt;
        &lt;Item as="span"&gt;Flex&lt;/Item&gt;
        &lt;Item alignSelf="flex-start"&gt;Box&lt;/Item&gt;
    &lt;/Flex&gt;
  );
};</code></pre>
<hr class="hr"/>
<p>A detailed explanation of the props can be found <a href="https://github.com/maroun-baydoun/reaflex#props" rel="external noopener noreferrer" target="_blank">here</a>.</p>
        <hr class="hr--large"/>
        <h3>Demo</h3>
        <div id="demo"></div>
        <hr class="hr--large"/>
        <h3>Learn more</h3>
        <section>
            <ul class="ul ul--square ul--margin-left">
                <li>
                    <a href="https://flexboxfroggy.com/" rel="external noopener" target="_blank">Flexbox Froggy</a> is a fun game to learn Flexbox.
                </li>
                <li>
                    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" rel="external noopener" target="_blank">A Complete Guide to Flexbox</a> by <a href="https://twitter.com/chriscoyier" rel="external noopener" target="_blank">@chriscoyier</a>.
                </li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox" rel="external noopener" target="_blank">Learn Flexbox</a> on MDN Web Docs.
                </li>
            </ul>
        </section>
        <%if (htmlWebpackPlugin.options.linkHome) { %>
            <hr class="hr--large"/>
            <div class="link-home">
                See <a href="https://dev.maroun-baydoun.com" rel="home">other projects</a>
            </div>
        <% } %>
    </main>
    <footer class="footer">
        <div class="footer__links">
            <a href="https://twitter.com/maroun_baydoun" rel="external noopener noreferrer" target="_blank">Twitter</a>
            <a href="https://github.com/maroun-baydoun" rel="external noopener noreferrer" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/marounbaydoun" rel="external noopener noreferrer" target="_blank">Linkedin</a>
        </div>
        <div class="footer__credits">
            &copy;<a href="https://maroun-baydoun.com" rel="author">Maroun Baydoun</a>
        </div>
    </footer>
    <%if (process.env.NODE_ENV==="production" ) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62589493-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-62589493-1', { 'anonymize_ip': true });
        </script>
    <% } %>
</body>

</html>